<ion-tabs class="tabs-icon-top tabs-color-active-positive">

  <!-- Indoor building map Tab -->
  <ion-tab title="Position" icon-off="ion-ios-pulse" icon-on="ion-ios-pulse-strong" href="#/tab/map">
    <ion-nav-view name="tab-map"></ion-nav-view>
  </ion-tab>

  <!-- Terms and Conditions Tab -->
  <ion-tab title="Terms" icon-off="ion-ios-chatboxes-outline" icon-on="ion-ios-chatboxes" href="#/tab/terms">
    <ion-nav-view name="tab-terms"></ion-nav-view>
  </ion-tab>

  <!-- Account and Settings Tab -->
  <ion-tab title="Settings" icon-off="ion-ios-gear-outline" icon-on="ion-ios-gear" href="#/tab/account">
    <ion-nav-view name="tab-account"></ion-nav-view>
  </ion-tab>
</ion-tabs>
